@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Outfit", "JetBrainsMono Nerd Font", "Inter", sans-serif;
  background-color: transparent;
  color: #f8f8f2;
}
