/* Import the Pywal generated color palette */
@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

window#waybar {
    /* Use GTK's alpha() function to make the dynamic Pywal background translucent */
    background-color: alpha(@background, 0.65);
    color: @foreground;
    border: 1px solid alpha(@color7, 0.1);
    border-radius: 14px;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Modules Padding & Margin */
#workspaces,
#clock,
#pulseaudio,
#network,
#battery,
#tray,
#custom-launcher,
#custom-powermenu {
    padding: 0 12px;
    margin: 4px 6px;
    border-radius: 10px;
    background-color: alpha(@foreground, 0.05);
}

/* Map Pywal accent colors to specific modules */
#custom-launcher {
    color: @color4; 
    font-size: 18px;
    padding-right: 16px;
}

#custom-powermenu {
    color: @color1;
    padding-left: 14px;
}

/* Hyprland Workspace Active States */
#workspaces button {
    color: alpha(@foreground, 0.5);
    padding: 0 8px;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    color: @background;
    background-color: @color2;
    border-radius: 8px;
}

#workspaces button:hover {
    background: alpha(@foreground, 0.1);
    color: @foreground;
}

/* Status Colors */
#battery.charging { color: @color2; }
#battery.warning:not(.charging) { color: @color3; }
#battery.critical:not(.charging) {
    color: @color1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @color1;
        color: @foreground;
    }
}
